NODE_ENV=

APP_SECRET=

DEV_PORT=
DEV_NEON_DB_URL=
DEV_REDIS_URL=
DEV_FRONTEND_URL=

PROD_PORT=
PROD_NEON_DB_URL=
PROD_REDIS_URL=
FRONTEND_URL=

SENDGRID_API_KEY=

LUMIID_BASE_URL=
LUMIID_DEV_SECRET_KEY=
LUMIID_SECRET_KEY=

TERMI_API_KEY=
TERMI_BASE_URL=
TERMI_SECRET_KEY=
